<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

<div class="ui  ineverted menu">
	<div class="ui container">

		<div class="header item"><i class="code icon"></i>Blog App</div>
		<a href="/" class="item">Home</a>
		<a href="/blogs/new" class="item">New post</a>

	</div>
</div>

