<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header middle">New Post</div>

	<form action="/new_post" method="POST" class="ui form">

	<div class="field">
		<label>Title:</label>
		<input type="text" name="blog[title]">
	</div>

	<div class="field">
		<label>Photo url:</label>
		<input type="text" name="blog[photo]">
	</div>

	<div class="field">
		<label>Body:</label>
		<textarea name="blog[body]"></textarea>
	</div>

	<input type="submit" value="Add new post" class="ui green basic button">

</form>
</div>





<% include partials/footer %>